
@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- start content-->
<div id="divider-game">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-11 col-sm-8">
                <h2 class="wow bounce">Game &amp; Interactive <strong>Applications</strong></h2>
                <p class="wow fadeInUp" data-wow-delay="0.9s">
                    We are experts in concepting and developing touch applications around your specific needs and goals. You can count on our process driven creative approach to help elevate your interactive storytelling experience
                </p>
                <p class="wow fadeInUp" data-wow-delay="1.5s">
                    Сreative team with a full set of capabilities in-house: Game Designers, 2D artists, 3D Modelers, Game Developers and QA Engineers
                </p>
            </div>
        </div>
    </div>
</div>
<!-- end content -->
<!-- start portfolio -->
<div id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="wow bounce">Recent Projects</h2>
                <div class="iso-section wow fadeIn" data-wow-delay="0.6s">

                    <div class="iso-box-section">
                        <div class="iso-box-wrapper col4-iso-box portfolio-container">

                            <div class="iso-box graphic photoshop wallpaper col-md-4 col-sm-6 col-xs-12">
                                <div class="portfolio-thumb">
                                    <img src="/Content/images/portfolio-img1.jpg" class="fluid-img" alt="portfolio img">
                                    <div class="portfolio-overlay">
                                        <a href="images/portfolio-img1.jpg" class="fa fa-search portfolio-popup"></a>
                                        <a href="#" class="fa fa-link"></a>
                                        <h4>Project title</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="iso-box graphic wallpaper col-md-4 col-sm-6 col-xs-12">
                                <div class="portfolio-thumb">
                                    <img src="/Content/images/portfolio-img2.jpg" class="fluid-img" alt="portfolio img">
                                    <div class="portfolio-overlay">
                                        <a href="images/portfolio-img2.jpg" class="fa fa-search portfolio-popup"></a>
                                        <a href="#" class="fa fa-link"></a>
                                        <h4>Project title</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="iso-box wallpaper col-md-4 col-sm-6 col-xs-12">
                                <div class="portfolio-thumb">
                                    <img src="/Content/images/portfolio-img3.jpg" class="fluid-img" alt="portfolio img">
                                    <div class="portfolio-overlay">
                                        <a href="images/portfolio-img3.jpg" class="fa fa-search portfolio-popup"></a>
                                        <a href="#" class="fa fa-link"></a>
                                        <h4>Project title</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="iso-box graphic col-md-4 col-sm-6 col-xs-12">
                                <div class="portfolio-thumb">
                                    <img src="/Content/images/portfolio-img4.jpg" class="fluid-img" alt="portfolio img">
                                    <div class="portfolio-overlay">
                                        <a href="images/portfolio-img4.jpg" class="fa fa-search portfolio-popup"></a>
                                        <a href="#" class="fa fa-link"></a>
                                        <h4>Project title</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="iso-box wallpaper col-md-4 col-sm-6 col-xs-12">
                                <div class="portfolio-thumb">
                                    <img src="/Content/images/portfolio-img5.jpg" class="fluid-img" alt="portfolio img">
                                    <div class="portfolio-overlay">
                                        <a href="images/portfolio-img5.jpg" class="fa fa-search portfolio-popup"></a>
                                        <a href="#" class="fa fa-link"></a>
                                        <h4>Project title</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="iso-box graphic photoshop col-md-4 col-sm-6 col-xs-12">
                                <div class="portfolio-thumb">
                                    <img src="/Content/images/portfolio-img6.jpg" class="fluid-img" alt="portfolio img">
                                    <div class="portfolio-overlay">
                                        <a href="images/portfolio-img6.jpg" class="fa fa-search portfolio-popup"></a>
                                        <a href="#" class="fa fa-link"></a>
                                        <h4>Project title</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end portfolio -->
